.section-divider {
  height: 300px;
  display: flex;
  position: relative;
    max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.divider-right {
  justify-content: flex-end;
}

.divider-right .container {
  margin-right: 101px;
}

.divider-left {
  justify-content: flex-start;
}

.divider-left .container {
  margin-left: 101px;
}

.section-divider .container {
  height: 250px;
  width: 250px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.arrow {
  position: absolute;
}

.arrow div {
  position: absolute;
  left: 0;
  top: 0;
  height: 4px;
  background: black;
  transform-origin: left center;
}

.tail {
  width: 167.02px;
  transform: rotate(-45deg);
}

.head-v {
  width: 45.33px;
  transform: rotate(-90deg);
}

.head-h {
  width: 45.33px;
  transform: translateX(-2px);
}

.divider-right .arrow {
  left: 130px;
  top: 135px;
}

.divider-right .arrow.arrow-active {
  animation: arrowMoveRight 400ms ease forwards;
}

.divider-right .tail.arrow-active {
  animation: tailGrow 400ms ease forwards;
}

@keyframes arrowMoveRight {
  0% {
    left: 130px;
    top: 135px;
  }

  100% {
    left: 62px;
    top: 203px;
  }
}

.divider-left .arrow {
  left: auto;
  right: 130px;
  top: 135px;
  transform: scaleX(-1);
}

.divider-left .arrow.arrow-active {
  animation: arrowMoveLeft 400ms ease forwards;
}

.divider-left .tail.arrow-active {
  animation: tailGrow 400ms ease forwards;
}

@keyframes arrowMoveLeft {
  0% {
    right: 130px;
    top: 135px;
  }

  100% {
    right: 62px;
    top: 203px;
  }
}

@keyframes tailGrow {
  0% {
    width: 167.02px;
  }

  50% {
    width: 263.04px;
  }

  100% {
    width: 167.02px;
  }
}

.skills-frame {
    position: relative;
}

/* Linke Linie */
.skills-frame::before {
    content: "";
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 4px;
    background: black;
}

/* Rechte Linie */
.skills-frame::after {
    content: "";
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    width: 4px;
    background: black;
}

/* Untere Linie */
.skills-inner {
    position: relative;
    padding-bottom: 40px;
}

.skills-inner::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background: black;
}

/* Obere Linie/Titel */
.skills-title {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

/* obere Linie */
.skills-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background: black;
}

/* Text/ Linie */
.skills-title span {
    position: relative;
    padding: 0 20px;
    background: #fff;
    font-size: 78px;
    font-weight: 600;
    z-index: 2;
    font-family: 'Syne', sans-serif;
}