.menu-overlay{
    height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.checkbox-bg::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    background: rgba(0, 188, 143, 1);
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    transition: 0.2s ease;
    z-index: 0;
}

.policy-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0%;
    background: rgba(0, 188, 143, 1);
    transform: translateX(-50%);
    transition: 0.2s ease;
}

.contact-privacy:hover .checkbox-bg::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.contact-privacy:hover .policy-link {
    transform: scale(1.15)
}

.contact-privacy:hover .policy-link::after {
    width: 100%;
}

/* 🔥 HOVER → kompletter Rahmen */
.field:hover {
    border-color: rgba(255, 252, 243, 1);
}

/* FOCUS bleibt wie gehabt */
.field:focus-within {
    border-color: rgba(255, 252, 243, 1);
}