@media (min-width: 751px) {
    html[lang="en"] .menu-nav a {
        width: 630px !important;
    }
}

@media (max-width: 751px){
    html[lang="en"] .menu-nav a {
        width: 300px !important;
    }
}

@keyframes navCornerFold {
    0% {
        opacity: 1;
        height: 39px;
    }

    100% {
        opacity: 0;
        height: 4px;
    }
}

@keyframes navLineMove {
    0% {
        left: 0;
        width: 20px;
        height: 4px;
    }

    35% {
        left: 0;
        width: 120px;
        height: 4px;
    }

    100% {
        left: calc(100% - 120px);
        width: 120px;
        height: 4px;
    }
}

.menu-overlay {
    position: fixed;
    inset: 0;
    z-index: 30;
    background: rgba(255, 252, 243, 1);
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
    transition: transform 0.32s ease, opacity 0.15s ease;
}

.menu-overlay.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.menu-inner {
    position: relative;
    width: 100%;
    height: 100%;

}

.menu-nav {
    justify-items: center;
    padding-top: 93px;
    white-space: nowrap;
}

.abou,
.ski,
.port {
    font-size: 96px;
    line-height: 1;
    letter-spacing: -2.5%;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

.menu-nav a {
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: 700;
    opacity: 0;
    transform: translateY(-24px);
    transition: opacity 0.35s ease, transform 0.35s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 580px;
    margin: 0;
}

.menu-nav a+a {
    margin-top: 35px;
    height: 132px;
}

.menu-overlay.open .menu-nav a {
    opacity: 1;
    transform: translateY(0);
}

.menu-overlay.open .menu-nav a:nth-child(1) {
    transition-delay: 0.25s;
}

.menu-overlay.open .menu-nav a:nth-child(2) {
    transition-delay: 0.35s;
}

.menu-overlay.open .menu-nav a:nth-child(3) {
    transition-delay: 0.45s;
}

.nav-corner {
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.corner-v {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4px;
    height: 39px;
    background: black;
}

.corner-h {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 39px;
    height: 4px;
    background: black;
}

.nav-line {
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 20px;
    height: 2px;
    background: black;
    opacity: 0;
}

.menu-diagonal {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 40;
    width: 100%;
    height: 248px;
    background: black;

    clip-path: polygon(0 0,
            100% 8vw,
            100% 100%,
            0 100%);

    transform: translateY(130px);

    transition:
        transform 0.35s ease,
        height 0.35s ease;
}

.menu-overlay.open .menu-diagonal {
    transform: translateY(130px);
    transition-delay: 0.15s;
}

.menu-overlay.footer-open .menu-diagonal {
    height: 348px;
    transform: translateY(0);
    transition-delay: 0s;
}

.overlay-sayhi {
    position: absolute;
    left: 25px;
    gap: 10px;
    bottom: 0;
    z-index: 50;
    width: 100%;
    min-height: 130px;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: rgba(255, 252, 243, 1);
    opacity: 0;
    transform: translateY(40px);

    transition:
        opacity 0.35s ease,
        transform 0.35s ease;
}

.overlay-left {
    padding: 0 0 80px 0;
}

.menu-overlay.footer-open .overlay-sayhi {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.05s;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.overlay-sayhi h2 {
    font-size: 78px;
    letter-spacing: 1%;
    font-weight: 900;
    margin: 0;
}

.overlay-sayhi p {
    margin: 8px 0 0;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: -2.5%;
}

.overlay-socials {
    display: flex;
    gap: 42px;
    padding-right: 40px;
}

.overlay-socials img {
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1);
}

body.menu-locked {
    overflow: hidden;
}

body.menu-locked .lang {
    visibility: hidden;
}