@font-face {
    font-family: 'Syne';
    src: url('/assets/fonts/syne.bold.ttf') format('truetype');
    font-weight: 800 bolder;
}

@font-face {
    font-family: 'Overpass';
    src: url('/assets/fonts/Overpass-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
h4,
.headline {
    font-family: 'Syne', sans-serif;
}

p,
li,
input,
a,
button {
    font-family: 'Overpass', sans-serif;
}

.hero-title .title-line,
.hero-title .second-line {
    font-family: 'Syne' !important;
}

.title-line {
    padding-left: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header .container {
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 92px;
    padding: 0 100px 0 100px;
}

.hero {
    margin-top: calc(204px - 90px);
}

.hero .container {
    font-family: 'Syne', sans-serif;
}

.hero-title {
    font-size: 128px;
    font-weight: bolder;
    letter-spacing: -2.5%;
    justify-self: center;
}

.hero-title .second-line {
    display: block;
    margin-top: -20px;
    line-height: 1.0;
}

.header {
    position: relative;
    z-index: 1000;
    /* Header über Overlay */
}

.logo img {
    height: 30px;
}

.lang {
    display: flex;
    gap: 6px;
    margin-right: 35px;
}

.lang button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    border: 2px solid greenyellow;
}

.menu {
    width: 40px;
    height: 32px;
    position: relative;
    /* WICHTIG */
    cursor: pointer;
}

.menu .line {
    position: absolute;
    /* WICHTIG */
    left: 50%;
    top: 50%;
    height: 4px;
    width: 40px;
    background: black;
    border-radius: 2px;
    transform-origin: center;
}


/* hero info */
.hero-header-top {
    justify-self: center;
}

.hero {
    padding: 0 100px 0 100px;
}

.top-inner {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 30px;
}

.hero-header-bottom {
    height: 260px;
    position: relative;
    margin-right: 30px;
}

.scroll {
    position: absolute;
    right: 40px;
    bottom: 40px;
    transform: translateX(0);
}

.line-box {
    width: 350px;
}

.line {
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
}

.name-box .name {
    font-size: 48px;
    letter-spacing: -2.5%;
    font-weight: bold;
    color: rgba(0, 188, 143, 1);
}

.email {
    transform: translateY(130px) rotate(-90deg);
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

/*About me */
.about .container {
    padding: 0 100px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    margin-top: 120px;
}

.about h2 {
    color: black;
    font-size: 48px;
    font-weight: 800;
}

.about .left {
    width: 50%;
}

.about .left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about .info .item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.about p {
    font-size: 22px;
}

.about .right img {
    height: auto;
    width: auto;
    margin-top: 80px;
}

.about img {
    max-width: 400px;
}

.about .btn-wrap {
    width: auto;
    align-self: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 48px;
}

.cta {
    margin-top: 30px;
    padding: 20px 60px 20px 60px;
    font-size: 22px;
    border: 4px solid black;
}

.info .icon {
    height: 40px;
    width: 40px;
}

.info span {
    font-size: 22px;
}

.skills .container {
    margin: 0 auto;
    text-align: center;
    padding: 0 100px 0 100px;
}

.skills-grid {
    margin-top: 110px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 75px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.skill img {
    height: 75px;
}

.skill span {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Overpass', sans-serif;
}

.skills-info {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 60px;
}

.skills-info span, .a {
    color: #000;
    font-size: 22px;
    font-family: 'Overpass', sans-serif;
    text-decoration: none;
}

.scroll-link{
    cursor: pointer;
}

.references {
    text-align: center;
    margin-top: 100px;
}

.references-list {
    display: flex;
    gap: 24px;
}

.reference-item {
    flex: 1;
    min-height: 344px;
    border: 4px solid black;
    padding: 24px 16px 24px 16px;
    display: flex;
    flex-direction: column;
}

.references .container {
    padding: 0 100px 0 100px;
}

.references .container h2 {
    color: black;
    font-size: 78px;
    letter-spacing: 1%;
    font-weight: 800;
}

.reference-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.reference-header h3 {
    padding-top: 18px;
    font-size: 22px;
}

.references-intro {
    margin: 52px 0 48px 0;
}

.references-intro p {
    font-size: 22px;
    font-weight: 400;
}

.reference-role {
    font-size: 14px;
}

.reference-icon img {
    height: 40px;
    width: 40px;
}

.reference-text {
    margin-top: 18px;
    font-size: 18px;
    text-align: start;
    line-height: 120%;
}

/* footer */
.contact-footer-bg {
    z-index: 1;
    margin-top: -50px;
    height: 1061;
    position: relative;
    background: #000;
    clip-path: polygon(0 0, 100% 8vw, 100% 100%, 0 100%);
}

.contact-overlay {
    padding-top: 120px;
}

.contact .container {
    max-width: 1240px;
}

.contact h2 {
    font-size: 78px;
    margin-left: 104px;
}

.contact-subtitle {
    padding-top: 38px;
    font-family: 'Overpass', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 188, 143, 1);
}

.contact-text {
    font-size: 22px;
    padding-top: 26px;
    text-align: center;
}

.contact-form {
    margin-top: 20px;
    width: 617px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-self: center;
    gap: 20px;
}

.contact p,
a,
h2,
h3 {
    color: rgba(255, 252, 243, 1);
}

.footer {
    padding: 0 0 40px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-left p {
    color: rgba(255, 252, 243, 1);
    font-size: 22px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.footer-logo img {
    height: 30px;
}

.footer-icons {
    display: flex;
    gap: 42px;
}

.legal {
    display: flex;
    justify-content: flex-end;
}

.legal a {
    font-size: 16px;
    text-decoration: none;
    color: rgba(255, 252, 243, 1);
}

.checkbox-bg {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}


.checkbox-bg input {
    position: relative;
    z-index: 2;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.policy-link {
    display: inline-block;
    color: rgba(0, 188, 143, 1);
    text-decoration: none;
    transition: 0.2s ease;
}

#formMessage {
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    color: rgba(0, 188, 143, 1);
}

.btn-container {
    display: flex;
    justify-content: center;
}

.active-btn{
    border: 4px solid rgba(255, 252, 243, 1);
    color: rgba(255, 252, 243, 1);
    background-color: black;
    cursor: pointer;
    max-width: 269px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
}

.active-btn:active {
    transform: translateY(2px) scale(0.97);
    opacity: 0.85;
}

.disabled-btn{
    border: 4px solid rgba(187, 187, 187, 1);
    color: rgba(187, 187, 187, 1);
    background-color: black;
    opacity: 0.4;
    cursor: not-allowed;
    max-width: 269px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
}