@font-face {
    font-family: 'Syne';
    src: url('/assets/fonts/syne.bold.ttf') format('truetype');
    font-weight: 800 bold;
}

@font-face {
    font-family: 'Overpass';
    src: url('./fonts/Overpass-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
h4,
.headline {
    font-family: 'Syne', sans-serif;
}

p,
li,
input,
a,
button {
    font-family: 'Overpass', sans-serif;
}

.hero-title .title-line,
.hero-title .second-line {
    font-family: 'Syne' !important;
}

.title-line {
    padding-left: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header .container {
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 92px;
    padding: 0 100px 0 100px;
}

.hero{
    margin-top: calc(204px - 90px);
}

.hero .container {
    font-family: 'Syne', sans-serif;
}

.hero-title {
    font-size: 128px;
    font-weight: bolder;
    letter-spacing: -2.5%;
    justify-self: center;
}

.hero-title .second-line {
    display: block;
    margin-top: -20px;
    line-height: 1.0;
}

.header {
    position: relative;
    z-index: 1000;
    /* Header über Overlay */
}

.logo img {
    height: 30px;
}

.lang {
    display: flex;
    gap: 6px;
    margin-right: 35px;
}

.lang button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    border: 2px solid greenyellow;
}

.menu {
  width: 40px;
  height: 32px;
  position: relative; /* WICHTIG */
  cursor: pointer;
}

.menu .line {
  position: absolute; /* WICHTIG */
  left: 50%;
  top: 50%;
  height: 4px;
  width: 40px;
  background: black;
  border-radius: 2px;
  transform-origin: center;
}


/* hero info */
.hero-header-top{
    justify-self: center;
}

.hero{
    padding: 0 100px 0 100px;
}

.top-inner {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 30px;
}

.hero-header-bottom{
    height: 260px;
    position: relative;
    margin-right: 30px;
}

.scroll {
  position: absolute;
  right: 40px;
  bottom: 40px;
  transform: translateX(0);
}

.line-box {
  width: 350px;
}

.line {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
}

.name-box .name {
  font-size: 48px;
  letter-spacing: -2.5%;
  font-weight: bold;
  color: rgba(0, 188, 143, 1);
}

.email{
    transform: translateY(130px) rotate(-90deg);
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

/*About me */
.about .container {
    padding: 0 100px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    margin-top: 120px;
}

.about h2{
    font-size: 48px;
    font-weight: 800;
}

.about .left {
    width: 50%;
}

.about .left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about .info .item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.about p{
    font-size: 22px;
}

.about .right img {
    height: auto;
    width: auto;
    border-radius: 8px;
    margin-top: 80px;
}
.about img {
    max-width: 400px;   
}

.about .btn-wrap{
    width: auto;
    align-self: center;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 48px;
}

.cta{
    margin-top: 30px;
    padding: 20px 60px 20px 60px;
}

.info .icon{
    height: 40px;
    width: 40px;
}

.info span{
    font-size: 22px;
}

.skills .container {
    margin: 0 auto;
    text-align: center;
}

.skills-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.skills-info {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.skills-frame {
    position: relative;
    padding: 40px 40px 40px;
}

/* Linke Linie */
.skills-frame::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background: #ddd;
}

/* Rechte Linie */
.skills-frame::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background: #ddd;
}

/* Untere Linie */
.skills-inner {
    position: relative;
    padding-bottom: 40px;
}

.skills-inner::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #ddd;
}

/* Obere Linie + Titel */
.skills-title {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

/* durchgehende obere Linie */
.skills-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: #ddd;
}

/* Text schneidet die Linie */
.skills-title span {
    position: relative;
    padding: 0 20px;
    background: #fff;
    font-size: 24px;
    font-weight: 600;
    z-index: 2;
}

.references-list {
    display: flex;
    gap: 30px;
}

.reference-item {
    flex: 1;
    /* alle exakt gleich breit */
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.footer {
    padding: 40px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.footer-icons {
    display: flex;
    gap: 20px;
}